::selection {
  background-color: rgb(33, 211, 77);
  color: #000;
}
  a:hover{
    color: rgba(255, 0, 0, 0.541);
  }
  body {
    background: url("/static/images/bg.jpg") no-repeat fixed;
    background-size: cover;
    color: #333333;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color:  #228997;
  }
  
  .bg-steel {
    background-color: #228997;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #c7ca11;
    border-bottom: #c7ca11 solid 1px;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
   .containerC{
   width: 100px;
   height: 50px;
   position: relative;
   background-image: url("C:\Users\LuLele\Desktop\flask2\blog\static\profile_pic\3ea673f124d8cd02CF_Mirko_Torrisi.png");
   background-repeat: no-repeat;
   background-size: cover;

 } 
 .formContent{
   height: 400px;


 }
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #304d8b;
  }
  
  a.article-title:hover {
    color: #0e375c;
    font-style: italic;
  }
  
  .article-content {
    word-break: break-all;
    white-space: pre-line;
    margin: auto;
    background: rgb(50,165,172);
    background: radial-gradient(circle, rgba(129, 197, 201, 0.479) 3%, rgba(255, 255, 255, 0) 55%, rgba(255,255,255,0) 100%);
  }
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #990606
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    border: 1px #3a9722;
  }
  .profpic:hover{
    transition: all 3s;
    height: 20%;
    width: 20%;
    padding-top: 50px;
  }
  .account-heading {
    font-size: 2.5rem;
  }

  .form-control{
    color: blue;
  }
  .text-danger{
    font-size: medium;
    font-weight: bold;
  }
  .alert.error{
    color: chocolate;
    font-size: 10px;
  }
  .form-group{
    color: #296e18;
    font-weight: bold;
    border-radius: 10px;
    object-fit: contain;
    background-image: url("https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252__340.jpg");    
  }
.button {
  position: relative;
  color:  #228997;
  padding: 2%;
  display: inline-block;
  border-radius: 7px;
  transition: all 0.5s;
  width: auto;
  height: auto;
  text-align: center;
  border: solid  #228997;
}

.button:hover{
  text-shadow: #00C0FF;
  background-image: linear-gradient(45deg, rgba(0, 238, 255, 0) 0%, rgba(21, 223, 213, 0.432) 30%, rgba(79, 246, 252, 0) 100%);
}
.containerC{
  width: 100px;
  height: 50px;
  position: relative;
  background-image: url("C:\Users\LuLele\Desktop\flask2\blog\static\profile_pic\3ea673f124d8cd02CF_Mirko_Torrisi.png");
  background-repeat: no-repeat;
  background-size: cover;

} 

#likes{
  background-image: linear-gradient(90deg, rgba(0, 191, 255, 0) 0%, rgba(0, 255, 242, 0.404) 49%, rgba(79, 252, 88, 0) 100%);
  border-radius: 50px;
}
#active {
  color: #c7ca11;
}