
@media (max-width: @screen-sm) {
  body{font-size: 8px;}
}
::selection {
  background-color: rgb(57, 87, 88);
  color: rgb(255, 255, 255)
}

  body {
    background: radial-gradient(circle, rgba(237, 240, 240, 0.219) 3%, rgba(59, 138, 148, 0.24) 55%, rgba(158, 154, 154, 0.137) 100%);
    background-size: cover;
    color: #333333;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color:  #228997;
  }
  
  .bg-steel {
    background-color: #2f0dc4;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #c7ca11;
    border-bottom: #c7ca11 solid 1px;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
   .containerC{
   width: 100px;
   height: 50px;
   position: relative;
 } 
 .formContent{
   height: 400px;


 }
  .content-section {
    background: #ffffff;
    padding: 2% 2%;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 2%;
  }
  
  .form-control{
    color: blue;
  }
  .text-danger{
    font-size: medium;
    font-weight: bold;
  }
  .alert.error{
    color: chocolate;
    font-size: 10px;
  }
  .form-group{
    color: #296e18;
    font-weight: bold;
    border-radius: 10px;
    object-fit: contain;
    background: radial-gradient(90deg, rgba(129, 146, 201, 0.479) 3%, rgba(255, 255, 255, 0) 55%, rgba(255,255,255,0) 100%);
  }
.button {
  color:  #228997;
  border-radius: 7px;
  border:  #228997;
}

.button:hover{
  text-shadow: #00C0FF;
  background-image: linear-gradient(45deg, rgba(0, 238, 255, 0) 0%, rgba(23, 131, 134, 0.432) 30%, rgba(79, 246, 252, 0) 100%);
}
.containerC{
  width: 100px;
  height: 50px;
  position: relative;
  background-image: url("C:\Users\LuLele\Desktop\flask2\blog\static\profile_pic\3ea673f124d8cd02CF_Mirko_Torrisi.png");
  background-repeat: no-repeat;
  background-size: cover;
} 
#active {
  color: #c7ca11;
}