{% extends 'layout.html' %}
{% block content %}
{% for post in posts %}
<article class="media content-section">
    <img class='profpic rounded-circle article-img' src='{{ url_for("static", filename="profile_pic/"+post.author.image_file) }}'>
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        <div class="container" id="likes">
        {% if current_user.is_authenticated %}
        {% if current_user.has_liked_post(post) %}
        <a class="button" id="heart" href="{{ url_for('users.like_action', post_id=post.id, action='unlike') }}"><span>Non mi piace più</span></a>
        {% else %}
        <a class="button" id="heart" href="{{ url_for('users.like_action', post_id=post.id, action='like') }}"><span>Mi piace</span></a>
        {% endif %}
        {% endif %}

        </div>
        <h5 id="likes" class="text-right">Piace a {{ post.likes.count() }} persone</h5>

        {% if post.author == current_user %}
        <div>
            <a class="button" href="{{url_for('posts.update_post', post_id=post.id)}}">Modifica</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Elimina</button>
        </div> 
        {% endif %}
        <div id="contenitore_bottone_like"></div>
    </div>
</article>
{% endfor %}
{% endblock %}
